body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #292e34;
}

.main-container {
  max-width: 1500px; /* コンテンツの最大幅を指定します。サイトのデザインに合わせて調整してください */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px; /* 画面の端とコンテンツの間に余白を持たせます */
  padding-right: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin-left: 15px;
}

.stage-selector-box {
  width: 200px;
  color: #000;
}

.stage-selector {
  display: inline-block;
  padding-left: 15px;
}

.used-stage-picture {
  display: inline-block;
}

.stageImage {
  width: 150px;
  height: 90px;
  padding: 15px 20px 15px 20px;
  border-radius: 40px;
}

.stageName {
  text-align: center;
}

.used-stage-title {
  padding: 10px 0px 0px 10px;
}

.stage-reset-button {
  margin: 20px;
}

.weapon-area {
  padding-left:  15px;
  padding-right: 15px;
  margin-bottom: 50px;
}

.weaponTableElement {
  position: relative;
  display: inline-block;
  font-size: 0;
  margin: -1px;
  padding: 0;
  vertical-align: bottom;
}

.own-pick-display {
  color: #CFB220;
  position: absolute;
  top: -2px;
  left: 5px;
  font-size: 30px;
  user-select: none;
  font-weight: 1000;
}

.opponent-pick-display {
  color: #3A0DCD;
  position: absolute;
  top: -2px;
  left: 5px;
  font-size: 30px;
  user-select: none;
  font-weight: 1000;
}

.ban-display {
  color: red;
  position: absolute;
  top: -13px;
  left: 10px;
  font-size: 50px;
  user-select: none;
  font-weight: 650;
}

.banpick-switch {
  margin-top: 5px;
  font-size: 30px;
  text-align: center;
  user-select: none;
  display: flex;
}

.ally-pick-switch-button {
  width: 30px;
  background-color: inherit;
  border: 1px solid #000;
  margin-right: -1px;
  color: #CFB220;
  display: inline-block;
}

.opponent-pick-switch-button {
  width: 30px;
  background-color: inherit;
  border: 1px solid #000;
  margin-right: -1px;
  color: #3A0DCD;
  display: inline-block;
}

.ban-switch-button {
  width: 30px;
  background-color: inherit;
  border: 1px solid #000;
  margin-right: -1px;
  color: red;
  display: inline-block;
  /* padding-top: -10px; */
}

.cancel-switch-button {
  width: 30px;
  background-color: inherit;
  border: 1px solid #000;
  margin-left: -1px;
  display: inline-block;
  color: #000;
}

.ally-pick-switch-button:hover {
  background-color: #C0CDDC;
}

.opponent-pick-switch-button:hover {
  background-color: #C0CDDC;
}

.ban-switch-button:hover {
  background-color: #C0CDDC;
}

.cancel-switch-button:hover {
  background-color: #C0CDDC;
}

.selected-switch {
  background-color: #C0C0C0;
}

.not-selected-switch {
  background-color: #FFFFFF;
}

.weapon-icon {
  width: 46.5px;
  height: 42px;
}

.team-weapon-icon {
  width: 60px;
  height: 60px;
}

.weapon-table {
  margin-top: 10px;
  max-width: 976.5px;
}

.weapon-reset-button {
  /* margin-left: 10px; */
  display: inline-block;
  margin-top: 10px;
  margin-left: 30px;
  height: 27px;
  width: 80px;
  border: 1px solid #000;
}

.banpick-select-button {
  display: inline-block;
}

.team-weapon-title {
  display: inline-block;
  padding: 5px;
}

.title-ally-switch {
  color: #CFB220;
}

.title-opponent-switch {
  color: #3A0DCD;
}

.weapon-button-area {
  display: flex;
}

.both-team-weapon-area {
  padding: 15px;
  padding-left: 0;
}


.main-weapon-sheet {
  background-color: #f0f8ff ;
  border: 2px solid #000000;
  position: absolute;
  top: -20px;
  left: -80px;
  width: 200px;
  height: 70px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  z-index: 1;
  border-radius: 20px;
  opacity: 0.83;
}

.thumbnail-group {
  display: inline-block;
  position: relative;
  margin: 0px 5px;
}

.main-weapon-sheet .weapon-icon {
  padding: 10px; /* この数値を変更してお好みの余白に調整してください */
}


.main-weapon-sheet .own-pick-display {
  color: #CFB220;
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 40px;
  user-select: none;
  font-weight: 1000;
}

.main-weapon-sheet .opponent-pick-display {
  color: #3A0DCD;
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 40px;
  user-select: none;
  font-weight: 1000;
}

.main-weapon-sheet .ban-display {
  color: red;
  position: absolute;
  top: -5px;
  left: 20px;
  font-size: 50px;
  user-select: none;
  font-weight: 650;
}

.category-table {
  text-align: left;
  padding-top: 10px;
}